/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 13/03/2024 15:18:26
*/

.Profil {}

.cameraAndImage {
  height: 200px;
  /* border: 1rem solid; */
  position: relative;
  border-radius: 30rem;
  width: 10rem;
}

.profilUser {
  height: 20rem;
  /* width: 100vw !important; */
}

.camera {
  background-color: rgb(22, 129, 237);
  color: aliceblue;
  width: fit-content;
  font-size: 2rem;
  padding: 5px;
  position: absolute;
  bottom: -5px;
  right: 0;
}


.name {
  font-size: 30px;
  /* font-weight: bold; */
  color: rgb(22, 129, 237);
}

.nameText p {
  padding: 1rem 0 0 1rem;
  color: black;
}