/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 15/03/2024 11:09:42
*/

.ChatList {
  /* background: url("/assets/images/_6073b1e3-6b7b-425a-b4b9-f6f881786cd5.jpeg"); */

  /* background: url("/assets/images/_6073b1e3-6b7b-425a-b4b9-f6f881786cd5.jpeg"); */
  background-color: rgb(213 206 195);

  padding: 1rem;
  height: 90%;
}
.ChatList::-webkit-scrollbar {
  width: 12px; /* Largeur de la barre de défilement */
}

.ChatList::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Couleur de fond de la piste de défilement */
}

.ChatList::-webkit-scrollbar-thumb {
  background-color: var(
    --color-primary
  ); /* Couleur de la poignée de défilement */
  border-radius: 6px; /* Rayon de la poignée de défilement */
}
