/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 15/03/2024 11:09:42
*/

.ChatList {

  background-color: darkslategrey !important;

  /* display: flex; */
  padding: 1rem;
  /* flex-direction: column; */
  height: 90vh;
}