/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 13/03/2024 15:18:26
*/


p :nth-child(1){
  color: rgb(0, 255, 136);
  font-size: 3rem;
}
p.online :nth-child(1){
  color: rgb(255, 0, 0);

}
.action{
  min-width: 7rem;
  font-size: 25px;
  color:rgb(22, 129, 237) ;

}
h2,p{
  margin: 0 !important;
  
}
