/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 15/03/2024 11:06:19
*/

.Home {}
a{
  text-decoration: none !important;
  color: rgb(51, 47, 47) !important;
}
