/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 13/03/2024 15:25:22
*/
.ChatBox .ChatBoxHeader{
  position: sticky !important;
  top: 0;
}
.chatContent {
  margin: 0 !important;
  height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: darkgray;
}
.message{
  margin: .2rem .5rem;
  max-width: 60%;
  border-radius: .5rem;
  padding: .5rem;
}
.send{
align-self: self-end;
  background-color: rgb(22, 129, 237);
  color: #fff;
  right: 0;
}
.receive{
  background-color: #fff;
}
.time{
  font-style: italic;
  opacity: .75;
}
.chatInsert{
  background-color: rgb(187, 183, 183);
  height: 5vh;
  padding: 4rem 0 !important;
}
.chatInsert :nth-child(1),
.chatInsert :nth-child(3){
  font-size: 2rem;
  margin: 0 1rem;
  color: rgb(22, 129, 237);

}
.chatInsert input{
  margin-top: 1rem;
}

