/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 20/03/2024 10:27:49
*/

.MessengerContact {}
.desc h2{
  margin: 0 !important;
}
.desc p{
  height: 1rem;
  padding: 0 !important;
}
.desc .BsDot{
  font-size: 50px !important  ;
  line-height: 0 !important;
}
