/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 15/03/2024 11:09:42
*/

.ChatItem{
  background-color: rgb(248, 252, 252);
  width: 70% !important;
  margin-top: 1rem;
}
.ChatItem *{
  max-width: 100%;
  padding: 1rem;
}
.user{
  align-self: self-end;
  max-width: 70%;
  height: auto;
  background-color: green;
  color: #fff;
}
.time{
  opacity: 0.75;
  text-align: right;
}
