/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 13/03/2024 15:23:30
*/

.Header {
  background-color: rgb(22, 129, 237) !important;
  color: #fff !important;
}
.bars{
  font-size: 2rem;
}