/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 15/03/2024 11:09:42
*/

.Header {
  height: 5rem;
  background-color: var(--color-primary);
  color: aliceblue !important;
}
.Icon *{
  font-size: 2rem;
  font-weight: bold;
  color: aliceblue !important;
}
