/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 14/03/2024 13:46:08
*/

.LoginPage {
  height: 100vh;
  background-color: rgb(237, 235, 235);
}
input{
  background-color: #fff;
}
.content{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 2rem;
}
.content form{
  width: 100vw;
}