/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 15/03/2024 11:09:42
*/

.MessageInputBox {
  height: 10%;
  margin: 0;
  
  
}
.MessageInputBox :nth-child(1),
.MessageInputBox :nth-child(3){
  font-size: 4rem;
  color: var(--color-primary);
  /* margin: 0 1rem; */
}
.MessageInputBox #message{
  /* margin: 1rem 0; */
  
  font-size: 5rem;
  outline: none;
}
.MessageInputBox #message :focus{
  border: none;
  outline: none;
}
textarea::placeholder {
  font-size: 1rem; 
  color: #999; /* Couleur du texte du placeholder */
  font-style: italic; /* Style de police italique pour le placeholder (optionnel) */
}

