/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 15/03/2024 11:09:42
*/

.ProfilContent {}
.profilUser{
  height: 15rem;
}
.cameraAndImage{
  width: 10rem;
  position: relative;
}
.camera{
  background-color: var(--color-primary);
  color: aliceblue;
  width: fit-content;
  font-size: 2rem;
  position: absolute;
  bottom: -5px;
  right: 5px;

}
/* .infos{
  padding-top: 4rem;
} */